

  <table class="table">
      <caption>List of users</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Naziv Dobavljaca</th>
          <th scope="col">Ulica i broj</th>
          <th scope="col">Naselje</th>
          <th scope="col">Grad</th>
        </tr>
      </thead>
      <tbody>
        <!-- supplierName: string;
              street: string;
              estate: string;
              city: string; -->
        <tr>
          <th scope="row">1</th>
          <td>{{singleRow.supplierName}}</td>
          <td>{{singleRow.supplierName}}</td>
          <td>{{singleRow.supplierName}}</td>
        </tr>
      </tbody>
    </table>
