.modal1 {
  font-size: 13px;
  font-weight: bold;
  font-family: "Arial";
  text-align: left;
  margin-left:90px;
  margin-top:15px;
  margin-bottom:15px;
  border: none;

}

.form-control {
  font-size: 13px;
  font-weight: bold;
  font-family: "Arial";
  text-align: left;

}

.gumb {
  margin-top:15px;
  font-size: 15px;

}

.slika{

}

.example-card {
  border: 3px solid green;
  background-color: lightblue;
}

.novo3 {
  font-size: 15px;
  font-weight: bold;
  font-family: "Arial";
}

 .card {

}

.form-row {
  display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: stretch;
  align-content: center;

}

.tablica {

  font-size: 13px;;

}

.pokusaj{
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
  border-bottom: 0px !important;
  border-left: 0px !important;
}
