
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="home">Test Ugovora</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="navbar" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto font-weight-bold">
      <li class="nav-item text-center">
        <a [routerLink]="['/contracts']">
          <i class="fas fa-file-contract"></i>
          Ugovori
        </a>
      </li>
      <li class="nav-item text-center">
          <a [routerLink]="['/suppliers']">
            <i class="fas fa-id-badge"></i>
            Dobavljaci
          </a>
        </li>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <body>

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  </body>
    </ul>
  </div>
</nav>
<div><img src="https://www.servicefutures.com/hubfs/social-suggested-images/Key-benefits-of-supplier-consolidation-header.png" alt="Italian Trulli" style="width:1600px;height:900px;"></div>


  <router-outlet></router-outlet>
