<table class="table table-sm table-dark">
    <thead>
        <!-- contractId: number;
        contractName: string;
        contractCode: string;
        contractNumber: number;
        Currency: string;
        pricePDV: number;
        price: number;
        expirationDate: string;
        supplier: ISupplier;
        deliveryNote: boolean;
        deliveryReceipt: boolean;
        deliveryOrderForm: boolean; -->
      <tr>
        <th scope="col">#</th>
        <th scope="col">contractName</th>
        <th scope="col">contractCode</th>
        <th scope="col">contractNumber</th>
        <th scope="col">Currency</th>
        <th scope="col">pricePDV</th>
        <th scope="col">price</th>
        <th scope="col">expirationDate</th>
        <th scope="col">supplier</th>
        <th scope="col">deliveryNote</th>
        <th scope="col">deliveryReceipt</th>
        <th scope="col">deliveryOrderForm</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{singleRow.contractName}}</td>
        <td>{{singleRow.contractCode}}</td>
        <td>{{singleRow.contractNumber}}</td>
        <td>{{singleRow.Currency}}</td>
        <td>{{singleRow.pricePDV}}</td>
        <td>{{singleRow.price}}</td>
        <td>{{singleRow.expirationDate}}</td>
        <td>{{singleRow.supplier}}</td>
        <td>{{singleRow.deliveryNote}}</td>
        <td>{{singleRow.deliveryReceipt}}</td>
        <td>{{singleRow.deliveryOrderForm}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{singleRow.contractName}}</td>
        <td>{{singleRow.contractCode}}</td>
        <td>{{singleRow.contractNumber}}</td>
        <td>{{singleRow.Currency}}</td>
        <td>{{singleRow.pricePDV}}</td>
        <td>{{singleRow.price}}</td>
        <td>{{singleRow.expirationDate}}</td>
        <td>{{singleRow.supplier}}</td>
        <td>{{singleRow.deliveryNote}}</td>
        <td>{{singleRow.deliveryReceipt}}</td>
        <td>{{singleRow.deliveryOrderForm}}</td>
      </tr>
    </tbody>
  </table>
